// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@forward './variables';
@use '@angular/material' as mat;
@use './functions' as fn;
@use './mat-palettes' as upov;

@use './autocomplete';
@use './badge';
@use './buttons';
@use './card';
@use './fonts';
@use './gradients';
@use './grid';
@use './icons-font';
@use './text-utils';
@use './tooltip';
@use './typography';
@use './form-field';
@use './variables';

html {
  @include mat.theme((
    color: (
      primary: upov.$primary-palette,
    ),
    typography: (
      plain-family: Figtree,
      brand-family: Figtree,
      bold-weight: var(--font-weight-bold),
      medium-weight: var(--font-weight-medium),
      regular-weight: var(--form-weight-regular),
    ),
    density: 0,
  ));
}

html, body {
  height: 100%;
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Reset the user agent margin.
  margin: 0;
  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  color: var(--color-text);
  font-family: Figtree, Helvetica, sans-serif;
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);

  background-color: var(--color-bg-light);

  // Layout styles to ensure the application takes up the full viewport height
  min-height: 100dvh;
  display: flex;
  flex-direction: column;

  .upov-app {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .upov-main {
    flex: 1 1 auto;
  }
}
